<h1>You sent the following data in a GET request:</h1>
<table>
  <caption>Get Values Below:</caption>
  <thead>
    <tr>
       <th>Label</th>
       <th>Key</th>
    </tr>
  </thead>
  <tbody>
  {{#each getquerylist}}
    <tr>
        <td>{{this.label}}</td>
        <td>{{this.key}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>